.textarea {
	border-radius: 100px 0px 0px 100px;
	border-top: 2px solid #b91ed3;
	border-bottom: 2px solid #b91ed3;
	border-left: 2px solid #b91ed3;
	background: #fff;
	text-align: center;
}

.button {
	border-radius: 0px 100px 100px 0px;
	border: 2px solid #b91ed3;
	background: #bb62c9;
}

.form {
	display: flex;
}
